body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 50px;
    white-space: nowrap;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 284px;
    flex: 1;
    gap: 15px;
}

.sign-up {
    background-color: #3882f6;
    font-size: 18px;
    color: #E5E7EB;
    border: none;
    box-sizing: border-box;
    padding: 10px 30px;
    max-width: 130px;
    border-radius: 5px;
}

.hero-image {
    display: flex;
    flex: 1;
    min-width: 284px;
    align-items: center;
}

.hero-image img {
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
}

.info-container h2 {
    align-self: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.box {
    height: 140px;
    width: 140px;
    border: 2px solid #3882f6;
    border-radius: 7px;
    margin: 5px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 140px;
    margin-bottom: 60px;
}

.card p {
    font-size: 16px;
    color: #1f2937;
    text-align: center;

}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    margin-top: 60px;
}

.author {
    color: #1F2937;
    font-weight: 700;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 60px;
}

.action-container {
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
    min-height: 330px;
    justify-content: center;
}

.action-wrapper {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 30px 60px;
}

.action-wrapper .sign-up {
    background-color: #3882f6;
    font-size: 18px;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    box-sizing: border-box;
    padding: 10px 30px;
    max-width: 130px;
    border-radius: 5px;
    flex-wrap: wrap;
    white-space: nowrap;
}

.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 30px 20vw;
    justify-content: center;
    text-align: center;
}